{% extends 'base.html' %}
{% block title %}
    Create a Thing - {{ block.super }}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="container-fluid form-group">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 class="text-center">Create a Thing</h1>
            <br>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="save btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}